// @mixin getStepNum($num) {
//   @for $i from 1 through $num {
//     &:nth-child(#{$i}) .circleContainer::after {
//         content: #{$i};
//       }
//   }
// }


// .stepperPanel {
//   display: flex;
//   flex-direction: column;
//   align-items: start;
//   flex:1;
//   padding: 40px 0;
  
// }

// .stepperContainer {
//   display: flex;
//   justify-content: space-evenly;
//   & .checked .circleContainer::after {
//     content: '\2714';
//   }
//   & .active {
//       .circleContainer{
//         background-color: black;
//         color: aliceblue;
//         border: none;
//       }.labelContainer{
//         color: black;
//       }
//   }
// }

// .step {
//   // @include getStepNum(3);
//     &:nth-child(1) .circleContainer::after {
//       content: '1';}
//     &:nth-child(2) .circleContainer::after {
//       content: '2';
//     }
//     &:nth-child(3) .circleContainer::after {
//       content: '3';
//     }
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .circleContainer {
//   width: 24px;
//   height: 24px;
//   border: 1px solid #ccc;
//   color: #ccc;
//   border-radius: 50%;
// }

// .labelContainer {
//   text-align: center;
//   color: #ccc;
// }

//步驟一二三、連結線
.stepperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  // gap: 20px;
}
.step {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color:#fff;
  padding: 10px;
  // &:nth-child(1) .circleContainer::after {
  //   content: '1';
  // }
  // &:nth-child(2) .circleContainer::after {
  //   content: '2';
  // }
  // &:nth-child(3) .circleContainer::after {
  //   content: '3';
  // }
  
    // .circleContainer::after {
    //   position: absolute;
    //   top: 50%;
    //   transform: translate(-50%,-50%);
    // }
  .labelContainer {
      display: none;
    }
  .circleContainer {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.circleNumOne::after {
  content: '1';
}
.circleNumTwo::after {
  content: '2';
}
.circleNumThree::after {
  content: '3';
}

.connectLine {
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 1px;
  border-top: 2px solid;
  background-color: #000;
}

.lineOne {
  left: 33%;
  transform: translateX(-50%);
}

.lineTwo {
  left: 66%;
  transform: translateX(-50%);
}

@media screen and (min-width:768px) {
  .stepperContainer {
    padding: 0;
    width: 100%;
  .step{
    gap: 10px;
    .labelContainer {
        display: block;
      }
      .circleContainer{
        width: 24px;
        height: 24px;
      }
      
    }
    .connectLine {
      flex:1;
      width: 30%;
    }
  }
  
}