
//步驟一二三、連結線
.stepperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  // gap: 20px;
}
.step {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color:#fff;

  .labelContainer {
      display: none;
    }
  .circleContainer {
    width: 30px;
    height: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.circleNumOne {
  color:#fff ;
  background-color: #000;

}
.circleNumTwo {
  color:#d8d8d8

}
.circleNumThree{
  color: #d8d8d8;

}

.stepTwo {
  padding: 0 10%;
}

.connectLine {
  z-index: -1;
  position: absolute;
  width: 30%;
  height: 1px;
  border-top: 2px solid;
  background-color: #000;
}

.lineOne {
  left: 33%;
  transform: translateX(-50%);
}

.lineTwo {
  left: 66%;
  transform: translateX(-50%);
  color: #d8d8d8;
  background-color: #d8d8d8;;
}

@media screen and (min-width:768px) {
  .stepperContainer {
    padding: 0;
    width: 100%;
  .step{
    gap: 10px;
    .labelContainer {
        display: block;
      }
      .circleContainer{
        width: 24px;
        height: 24px;
      }
      .labelTwo,
      .labelThree {
        color: #d8d8d8;
      }
    }
    .stepOne {
      padding-right:5%;
    }
    .stepTwo {
      padding: 0 5%;
    }
    .stepThree {
      padding-right: 5%;
      padding-left: 5%;
    }
    .connectLine {
      flex:1;
      width: 30%;
    }
  }
  
}