.navbar {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  
}

.menuContainer {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  transform: translate(-50%);
  opacity: 0;
  background-color: #fff;
}



.hamburgerToggle:checked~.menuContainer {
  display: block;
  z-index: 1;
  transform: scale(1, 1);
  opacity: 1;
  height: 600%;
}

.hamburgerToggle:checked~.tool {
  transform: scale(1, 1);
  opacity: 1;
  display: flex;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.hamburger {
  position: absolute;
  left: 3%;
  top: 35%;
  
}

.hamburgerToggle {
  width: 10px;
  height: 10px;
  z-index: -1;
  position: absolute;
  right:93%;
  bottom: 35px;
  opacity: 0;
}

.tool {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 640%;
  opacity: 0;
  display: none;
  justify-content: center;
  gap: 15px;
}

@media screen and (min-width:768px) {

  
  .navbar {
    max-width: 1200px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 10px;
      margin: 0 auto;
      .hamburger {
        display: none;
  }
      .menuContainer {
        grid-column: 1/2;
        position: static;
        transform: none;
        opacity: 1;
        display: flex;
        justify-content: flex-start;
      }
      .hamburgerToggle {
        display: none;
      }
      .headerLogo {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      }
      .tool {
        width: auto;
        transform: none;
        top: 0;
        left: 0;
        position: static;
        opacity: 1;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
      }
    }
  
    
}
