ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 15px;
  padding: 15px;
  transition: opacity .3s ease-out .15s;
  border-bottom: 1px solid #D8D8D8;
}

@media screen and (min-width:890px) {
.menuList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    .menuItem {
      border:none;
      transition: none;
      margin: 0 5px;
      padding: 0;
    }
  }
}
