.cartWrapper {
  margin: 20px;
  border: 1px solid #F0F0F5;
  border-radius: 10px;
  .cartTitle {
    display: none;
  }
  .cartInfo {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
    border-top: 1px solid #D8D8D8;
    padding-top: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width:768px) {
  .cartWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    .cartTitle {
      display: block;
      text-align: left;
      margin: 20px;
      font-size: 18px;
    }
    .productContainer {
      display: flex;
      justify-content: flex-start;
      .productInfo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .productControlContainer {
          padding-left: 10px;
          align-items: start;
        }
      }
    }
    .cartInfo {
      text-align: left;
      border-top: 1px solid #D8D8D8;
      padding: 10px;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      .price {
        font-weight: bold;
      }
    }
    .progressControl {
      display: none;
    }
  }
}